@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: rgba(255, 255, 255, 1);
  --color-text: rgba(28, 28, 28, 1);
  --color-border-color: rgba(28, 28, 28, 0.1);

  --color-background-dark: rgba(28, 28, 28, 1);
  --color-text-dark: rgba(255, 255, 255, 1);
  --color-border-color-dark: rgba(255, 255, 255, 0.1);


  --color-text-20: rgba(28, 28, 28, 0.2);
  --color-text-dark-20: rgba(255, 255, 255, 0.2);

  --color-text-40: rgba(28, 28, 28, 0.4);
  --color-text-dark-40: rgba(255, 255, 255, 0.4);

  /* --color-primary-card: rgba(28, 28, 28, 0.05); */
  --color-primary-card: rgba(247, 249, 251, 1);
  --color-primary-card-dark: rgba(255, 255, 255, 0.05);

  --color-primary-bg: rgba(28, 28, 28, 0.05);
  --color-primary-bg-dark: rgba(255, 255, 255, 0.05)

  --color-cyan-base: rgba(168, 197, 218, 1);
  --color-cyan-light: rgba(168, 197, 218, 0.5);
  --color-cyan-xl: rgba(168, 197, 218, 0.2);

  --color-purple: rgba(198, 199, 248, 1);

}

.recharts-surface:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root { 
  height: 100%; 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}